<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./user-post.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="userpost">
      <div class="post-container" data-animate-on-scroll>
        <div class="bn-quyn-ny3">
          @2020 bản quyền này thuộc về Công ty Cổ phần Phê La
        </div>
      </div>
      <main class="group-main">
        <div class="frame-child12"></div>
        <section class="frame-section">
          <header class="frame-header">
            <div class="frame-parent9">
              <div class="approved-post-parent">
                <div class="approved-post">approved post</div>
                <div class="rectangle-wrapper">
                  <div class="frame-child13"></div>
                </div>
              </div>
              <div class="pending-post-parent">
                <div class="pending-post">pending post</div>
                <div class="rectangle-frame">
                  <div class="frame-child14"></div>
                </div>
              </div>
            </div>
          </header>
          <div class="divider">
            <div class="divider-child"></div>
          </div>
          <div class="post-details">
            <div class="post-details-structure">
              <div class="post-card">
                <div class="post-card-elements">
                  <div class="card-content">
                    <textarea class="content-image" rows="{9}" cols="{16}">
                    </textarea>
                    <div class="read-more-icon"></div>
                    <div class="content-details">
                      <div class="title-and-description6">
                        Title and description
                      </div>
                      <div class="date-container">
                        <div class="date-time6">date time</div>
                      </div>
                    </div>
                    <div class="read-more-container">
                      <div class="read-more-button"></div>
                      <div class="read-more6">Read more</div>
                    </div>
                    <input class="vector" type="checkbox" />
                  </div>
                  <textarea
                    class="post-card-elements-child"
                    rows="{9}"
                    cols="{16}"
                  >
                  </textarea>
                </div>
              </div>
              <div class="post-actions">
                <div class="delete-container">
                  <img
                    class="delete-icon"
                    alt=""
                    src="./public/vector-22.svg"
                  />
                </div>
                <div class="delete-button">
                  <div class="delete-background"></div>
                  <div class="delete">Delete</div>
                </div>
                <button class="edit-container">
                  <div class="edit-container-child"></div>
                  <div class="edit1">Edit</div>
                  <img class="edit-icon" alt="" src="./public/vector-22.svg" />
                </button>
              </div>
            </div>
            <div class="pending-post-card">
              <div class="pending-card-content">
                <textarea class="pending-content-image" rows="{9}" cols="{16}">
                </textarea>
                <div class="pending-content-icon"></div>
                <div class="pending-content-details">
                  <div class="title-and-description7">
                    Title and description
                  </div>
                  <div class="pending-date-container">
                    <div class="date-time7">date time</div>
                  </div>
                </div>
                <div class="pending-content-action">
                  <div class="pending-content-button"></div>
                  <div class="read-more7">Read more</div>
                </div>
                <textarea
                  class="pending-card-content-child"
                  rows="{9}"
                  cols="{16}"
                >
                </textarea>
              </div>
              <div class="pending-post-actions">
                <div class="pending-action-buttons">
                  <div class="pending-action-options">
                    <div class="pending-edit-button"></div>
                    <div class="delete1">Delete</div>
                  </div>
                  <button class="pending-action-options1">
                    <div class="pending-action-options-child"></div>
                    <div class="edit2">Edit</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="post-cards">
          <div class="post-card-comparison">
            <div class="card-element-comparison">
              <div class="card-content-comparison">
                <textarea class="image-comparison" rows="{9}" cols="{16}">
                </textarea>
                <div class="status-icon-comparison"></div>
                <div class="content-comparison">
                  <div class="title-and-description8">
                    Title and description
                  </div>
                  <div class="date-comparison">
                    <div class="date-time8">date time</div>
                  </div>
                </div>
                <div class="action-comparison">
                  <div class="action-button-comparison"></div>
                  <div class="read-more8">Read more</div>
                </div>
                <textarea
                  class="card-content-comparison-child"
                  rows="{9}"
                  cols="{16}"
                >
                </textarea>
              </div>
              <div class="post-action-comparison">
                <div class="button-comparison">
                  <div class="delete-comparison">
                    <div class="delete-button-comparison"></div>
                    <div class="delete2">Delete</div>
                  </div>
                  <button class="edit-comparison">
                    <div class="edit-comparison-child"></div>
                    <div class="edit3">Edit</div>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-element-comparison1">
              <div class="rectangle-parent6">
                <textarea class="frame-child15" rows="{9}" cols="{16}">
                </textarea>
                <div class="frame-child16"></div>
                <div class="title-and-description-parent2">
                  <div class="title-and-description9">
                    Title and description
                  </div>
                  <div class="date-time-frame">
                    <div class="date-time9">date time</div>
                  </div>
                </div>
                <div class="rectangle-parent7">
                  <div class="frame-child17"></div>
                  <div class="read-more9">Read more</div>
                </div>
                <textarea class="frame-child18" rows="{9}" cols="{16}">
                </textarea>
              </div>
              <div class="card-element-comparison-inner">
                <div class="frame-parent10">
                  <div class="rectangle-parent8">
                    <div class="frame-child19"></div>
                    <div class="delete3">Delete</div>
                  </div>
                  <button class="rectangle-parent9">
                    <div class="frame-child20"></div>
                    <div class="edit4">Edit</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="button-panel">
          <div class="button-options">
            <img
              class="buttonbtn-group-icon2"
              alt=""
              src="./public/buttonbtngroup.svg"
            />

            <div class="button-style">
              <div class="buttonbtn-group3">
                <img
                  class="background-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/-background.svg"
                />

                <div class="buttonbasetext-md3">
                  <div class="text3">1</div>
                </div>
              </div>
            </div>
            <div class="button-style1">
              <div class="buttonbtn-group4">
                <img
                  class="background-icon4"
                  alt=""
                  src="./public/-background-1.svg"
                />

                <div class="buttonbasetext-md4">
                  <div class="text4">2</div>
                </div>
              </div>
            </div>
            <div class="button-style2">
              <div class="buttonbtn-group5">
                <img
                  class="background-icon5"
                  alt=""
                  src="./public/-background-1.svg"
                />

                <div class="buttonbasetext-md5">
                  <div class="text5">3</div>
                </div>
              </div>
            </div>
            <img
              class="buttonbtn-group-icon3"
              alt=""
              src="./public/buttonbtngroup-1.svg"
            />
          </div>
        </footer>
      </main>
    </div>

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
